@import '../../styles/base';

.domain-button {
  background: #fff;
  color: #333;
}

.domain-button:hover, .domain-button.is-selected {
  background: $app-blue;
  color: #fff;
}

.spinner-wrapper {
  margin-top: 6rem;
}

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
