@import '../../styles/base';

.select-domain {
  margin-bottom: 3rem;
}

.select-domain-dropdown {
  text-align: left;
  min-width: 200px;
}

.select-domain-label {
  margin-bottom: 0;
  margin-right: 1em;
}


.spinner-wrapper {
  margin-top: 6rem;
}

.create-new-question-button {
  display: block;
  margin-right: 0;
  margin-left: auto;
}
