

.question__bar {
  cursor: pointer;
  background: #fcfcfc;
  box-shadow: 0 0 1px 1px rgba(#333, .2);
  padding: .75em 1em;
  margin-bottom: 1.5rem;
}

.question__bar:hover {
  background: #fafafa;
}

.question__title {
  margin-bottom: 0;
}
