@import 'base';
@import 'animations';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  font-size: 90%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  transition: none;
}

button:focus {
  outline: none;
}

button:disabled, button:disabled:hover {
  cursor: default;
  opacity: .5;
}

input {
  width: 100%;
}

input, input:focus {
  outline: none;
}


.flex-container {
  display: flex;
}

.flex-container.align-center {
  align-items: center;
}

.flex-container.align-top {
  align-items: flex-start;;
}

.flex-container.align-bottom {
  align-items: flex-end;
}

.flex-container.justify-center {
  justify-content: center;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.space-around {
  justify-content: space-around;
}

.bold {
  font-weight: 600;
}

.mute {
  color: #666;
}

.light {
  font-weight: 300;
}

.no-left-padding {
  padding-left: 0
}

.no-right-padding {
  padding-right: 0;
}

.margin-top {
  margin-top: 1.5rem;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}
