

.module-folder__bar {
  cursor: pointer;
  background: #f8f8f8;
  box-shadow: 0 0 1px 1px rgba(#333, .2);
  padding: .75em 1em;
  margin-bottom: 1.5rem;
}

.module-folder__bar:hover {
  background: #fff;
}

.module-folder__title {
  margin-bottom: 0;
  font-weight: 600;
}

.questions {
  text-align: left;
}

.module-folder__count {
  font-size: .8rem;
  line-height: 1.8;
  font-weight: 500;
  background: #333;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0;
}
