@import '../../styles/base';

.link-outcome-modal__controls {
  margin-top: 3rem;
}

.module-label-for-outcome {
  padding: .4em .5em;
  background: #f0f0f0;
  border-radius: 3px;
  font-weight: 500;
  font-size: .875rem;
  color: #444;
}
