

.question {
}


.question__bar {
  padding: .75em 1em;
  text-align: left;
  background: #f8f8f8;
  box-shadow: 0 0 1px 1px rgba(#333, .2);
  margin-bottom: 1rem;
  padding: .75em 1em;
  // position: relative;
  // z-index: 1;
}

.question__bar:hover, .question__bar.is-active {
  background: #fff;
}

.question__title {
  font-size: .875rem;
  margin-bottom: 0;
}

.question-wrapper {
  padding: .75rem 1rem;
  box-shadow: 0 0 1px 1px rgba(#000, .2);
}

.question-content {
  text-align: left;
}

.question-content img {
  width: 100%;
  height: auto !important;
}

.question-text {
  // font-size: 1.25rem;
}

.question-solution {
  background: #f8f8f8;
  padding: .75em;
  margin-bottom: 1.5rem;
  // border: 1px solid #aaa;
}

.choice__text {
  max-width: 300px;
}

.alphabet-label {
  margin-right: 1em;
}

.outcome-body {
  font-size: .875rem;
}

.outcome-link-button, .outcome-link-button:focus {
  height: 30px;
  width: 30px;
  margin-right: 1em;
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 0;
  background: #fdfeff;
}

.outcome-link-button:hover {
  background: #f0f0f0;
}

.see-prereqs-button {
  font-size: .875rem;
  padding: .35rem .75em .35rem .5em;
  text-align: left;
  border-radius: 4px;
}

.see-prereqs-button__image {
  width: 1rem;
  height: 1rem;
  margin-right: .5em;
}

.choice-outcome__text {
  margin-right: 1em;
}

.choice-outcome__question-count {
  min-width: 20%;
}
