

.question {

}


.question__bar {
  padding: .75em 1em;
  text-align: left;
  background: #f8f8f8;
  box-shadow: 0 0 1px 1px rgba(#333, .2);
  margin-bottom: 1.5rem;
  cursor: pointer;
  padding: .75em 1em;
}

.question__bar:hover {
  background: #fff;
}

.question__title {
  margin-bottom: 0;
}

.question__bar__button, .question__bar__button:focus {
  padding: .5em .75em;
  margin-bottom: 1.5rem;
  width: auto;
  font-size: .875em;
  color: #444;
  font-weight: 600;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: transparent;
}

.question__bar__button:hover {
  color: #000;
  background: #f0f0f0;
  border-color: transparent;
}

.question-content {
  text-align: left;
}

.question-content img {
  width: 100%;
  height: auto !important;
}

.choice__text {
  max-width: 300px;
}

.alphabet-label {
  margin-right: 1em;
}

.outcome-link-button, .outcome-link-button:focus {
  padding: .5em;
  border: 1px solid #ccc;
  margin-left: 2em;
  margin-bottom: 0;
  background: transparent;
}

.outcome-link-button:hover {
  border-color: #aaa;
}
