@import '../../styles/base';

.visualize-tree-modal__controls {
  margin-top: 3rem;
}

.select-entity-prompt {
  font-size: .875rem;
  margin-right: 1em;
  margin-bottom: 0;
  font-weight: 600;
  color: #666;
  max-width: 20%;
}

.select-entity-dropdown {
  flex: 3;
}
