@import '../../styles/base';

.contained-label {
  position: relative;
}

.contained-label__input {
    height: 4.5rem;
    padding-top: 1.4em;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
}

.contained-label__input:focus {
  border-color: 1px solid $app-blue;
}

.contained-label__label {
  font-weight: 600;
  font-size: .9em;
  position: absolute;
  top: .4em;
  left: .52rem;
}

.form__label {
  color: #555;
  font-weight: 600;
}

.rich-text-editor {
  margin-bottom: 1.5rem;
}

.delete-choice-button {
  padding: 0;
  margin-bottom: 0;
  background: transparent;
  color: $app-red;
  transition: none;
  font-weight: 600;
}

.delete-choice-button:hover, .delete-choice-button:focus {
  background: transparent;
  color: $app-red;
  text-decoration: underline;
}

.form__save-button {
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: 0;
  min-width: 100px;
}
